*{
    margin: 0;
    padding: 0;
    list-style: none;
}
/*************************header**************************/
.cabezera{
    height: 18vh;
    background-color: rgba(47, 68, 255, 0.884);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 15%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
.redes{
    width: 20%;
    height: 50%;    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bx.bxl-whatsapp, .bx.bxl-twitter,.bx.bxl-instagram{
    font-size: 3.2vw;
    color: rgb(48, 206, 9);
}

/****************************Navigation******************************/

.navegacion{
    height: 8vh;
    margin-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listaNavegacion{
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: space-around;
    align-items: center;
}
.enlaceBotones{
    width: 19%;
    height: 80%;
    text-decoration: none;
}

.navegacion1,.navegacion2,.navegacion3,.navegacion4,.navegacion5{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 68, 255, 0.884);
    color: white;
}
.navegacion1:hover,
.navegacion2:hover,
.navegacion3:hover,
.navegacion4:hover,
.navegacion5:hover{
    background-color: rgb(47, 255, 92);
}
.navegacion1:active,
.navegacion2:active,
.navegacion3:active,
.navegacion4:active,
.navegacion5:active{
    background-color: rgb(255, 130, 47);
}

/****************************News Section******************************/

.noticias{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35vh;
    margin-top: 5px;
}
.listaNoticias{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
.noticia1,.noticia2,.noticia3{
    background-color: rgba(47, 68, 255, 0.884);
    width: 32.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imageFrontend,.imageBackend,.imageFullStack{
    width: 35%;
    height: 65%;
    border-radius: 100%;
}
.tituloNoticia1,.tituloNoticia2,.tituloNoticia3,.parrafoNoticia1,.parrafoNoticia2,.parrafoNoticia3{
    margin-top: 5px;
    color: white;
}

/****************************Article Section******************************/
.seccionArticulo{
    height: 50vh;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.asideIzquierdo,.asideDerecho{
    background-color: rgba(47, 68, 255, 0.884);
    width: 28%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.asideIzquierdo{
    margin-left: 5px;
    flex-direction: column;
    justify-content:center;
}
.asideDerecho{
    margin-right: 5px;
}
.listaDeAside{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tablaDeASide{
    margin-top: 20px;
    width: 80%;
}
.filasDeTitulo{
    background-color: rgba(172, 255, 47, 0.815);
}
.columnasDeTabla{
    border: 2px solid gray;
    text-align: center;
    width: 10vw;
}
.filasDeTabla:nth-child(even){/*seupdo clase para darle estilos a las filas intercaladas de la tabla*/
    background-color: rgba(128, 128, 128, 0.459);
}
.elementoDeListaAside{
    margin-top: 7px;
    list-style: square;/* atributo para agregar un punto a cada elemento de la lista*/
    list-style-position: inside; /*Atributo para darle pocision al cuadro dentro del elemento de la lista */
}
.articulo{
    background-color: greenyellow;
    width: 44%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.contenedorImageArticulo{
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.imageArticle{
    width: 50%;
    height: 50%px;
    border-radius: 5px;
}
.parrafoArticulo{
    width: 40%;
    text-align: center;
    font-size: 1.19vw;
}
.asideDerecho{
    display: flex;
    flex-direction: column;
}
.tituloFormulario{
    width: 45%;
    background-color: rgba(172, 255, 47, 0.815);
    text-align: center;
}
.formulario{
    width: 45%;
    height: 28%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputUsuario,.inputContraseña{
    height: 25%;
    width: 100%;
    border: 2px solid rgba(5, 5, 5, 0.562);
}
.inputUsuario{
    height: 25%;
    background: url(../Images/usuario.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center; 
}
.inputContraseña{
    height: 25%;
    background: url(../Images/password.png);    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center; 
}
.inputEnvio{
    height:25% ;
    width: 102%;
    margin-top: 5px;
    border: none;
    background-color: rgba(172, 255, 47, 0.815);
}



/****************************Footer******************************/

.pieDePagina{
    height: 15vh;
    background-color: rgba(47, 68, 255, 0.884);
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.derechoAutor{
    color: white;
    font-size: 1.7vw;
}
